<h3>Job Details</h3>
<section class="<%= @job.status %>">
  <span class="job-name">
    <% if @job.success? %>
      <i class="fa fa-check"></i>
    <% else %>
      <i class="fa fa-close"></i>
    <% end %>
    <a href="<%= @job.job_path %>"><%= @job.name %></a>
  </span>
  <% if @job.pull_request.platform_repo %>
  <ul class="list-icon">
    <li>
      <i class="fa fa-github"></i><span>Repository
      <a href="<%= @job.owner_url %>" target="_blank"><%= @job.owner_name %></a>&nbsp;/
      <a href="<%= @job.repo_url %>" target="_blank"><%= @job.repo_name %></a></span>
    </li>
    <li><i class="fa fa-github"></i><span>Branch <%= @job.local_repo_branch %></span></li>
    <li><i class="fa fa-calendar"></i><span><%= @job.created_at %></span></li>
  </ul>
  <% end %>
  <% if @job.job_error %>
  <ul class="tabs">
    <li><span>Backtrace</span></li>
  </ul>
  <div>
    <p class="backtrace">
      <span class="error-message"><%= @job.error_message %></span><br><br>
      <% @job.error_backtrace.each do |trace| %>
        <span><%= h trace %></span><br>
      <% end %>
    </p>
  </div>
  <% end %>
</section>
